.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 650px;
    background-color: rgb(149, 7, 118);
    /* margin: 8px 8px 8px 8px; */
    
  }